# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Env and config
.env
.env.*
*.env

# OS/Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Tests
tests/
*.pytest_cache
